<div id="gallery_photos" class="galleryview"></div>

<script type="text/javascript">

  var prefs = new gadgets.Prefs();
  
  var flickrUsername = prefs.getString("flickr_username");
  var gallery = document.getElementById("gallery_photos");
  
  function wrapInP(entryAttribute){
    return "<p>" + entryAttribute + "</p>"
  }
  
  function wrapInImg(entryAttribute){
    return "<img src=" + entryAttribute + "></img>"
  }
    
  function photosUrl(obj){
    var jsondata = obj.data;
    
    var html = "<ul>";
    if (jsondata.photos.photo) {
      for (var i = 0; i < jsondata.photos.photo.length; i++) {
        var photo = jsondata.photos.photo[i];
        html += "<li>";
        html += wrapInP(photo.title);
        html += wrapInImg(photo.url_sq);
        html += wrapInImg(photo.url_m);
        html += "</li>";
      };
    };
    gallery.innerHTML = html;
    
  }
  
  function userIdResponse(obj){
    var jsondata = obj.data;
    var photosUrl = "http://api.flickr.com/services/rest/?&method=flickr.people.getPublicPhotos&api_key=<%= FLICKR_API_KEY -%>&user_id=" + jsondata.user.nsid + "&per_page=30&page=1&format=json&extras=url_sq,url_m&nojsoncallback=1";
    
    var params = {};
    params[gadgets.io.RequestParameters.CONTENT_TYPE] = gadgets.io.ContentType.JSON;
    
    gadgets.io.makeRequest(photosUrl, photosResponse, params);
  };
  
  function getUserId(){
    var params = {};
    params[gadgets.io.RequestParameters.CONTENT_TYPE] = gadgets.io.ContentType.JSON;
    
    var userUrl = "http://api.flickr.com/services/rest/?&method=flickr.people.findByUsername&api_key=<%= FLICKR_API_KEY -%>&user_id=" + flickrUsername + "&format=json&nojsoncallback=1";
    gadgets.io.makeRequest(userUrl, userIdResponse, params);
  }
  
  gadgets.util.registerOnLoadHandler(getUserId);
  
</script>
