<div id="gallery_photos" class="galleryview"></div>

<script type="text/javascript">

  var prefs = new gadgets.Prefs();
  
  var flickrUrl = prefs.getString("flickr_feed_url");
  var gallery = document.getElementById("gallery_photos");
  
  function wrapInP(entryAttribute){
    return "<p>" + entryAttribute + "</p>"
  }
  
  function response(obj){
    var feed = obj.data;
    var html = "<div>";
    html += wrapInP(feed.URL);
    html += wrapInP(feed.Title);
    html += wrapInP(feed.Description);
    html += wrapInP(feed.Link);
    html += wrapInP(feed.Author);
    html += "<ul>";
    if (feed.Entry) {
      for (var i = 0; i < feed.Entry.length; i++) {
        var entry = feed.Entry[i];
        html += "<li>";
        html += wrapInP(entry.Title);
        html += wrapInP(entry.Link);
        html += wrapInP(entry.Summary);
        html += wrapInP(entry.Date);
        html += "</li>";
      };
    };
    gallery.innerHTML = html;
  };
  
  function getFeed(){
    var params = {};
    params[gadgets.io.RequestParameters.CONTENT_TYPE] = gadgets.io.ContentType.FEED;
    params[gadgets.io.RequestParameters.NUM_ENTRIES] = 5;

    gadgets.io.makeRequest(flickrUrl, response, params);
  }

  gadgets.util.registerOnLoadHandler(getFeed);
  
</script>
